<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <%- include('./partials/nav.ejs') %>

      <div class="container">
        <h1>About Page!</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi hic, aliquam ullam assumenda incidunt totam eius, molestias, temporibus porro laudantium asperiores? Accusamus adipisci quam esse iusto voluptatibus non natus ducimus suscipit eos rerum, id, temporibus nisi, ex libero minus itaque consequuntur ad rem totam harum explicabo perferendis minima laborum. Sint. </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi hic, aliquam ullam assumenda incidunt totam eius, molestias, temporibus porro laudantium asperiores? Accusamus adipisci quam esse iusto voluptatibus non natus ducimus suscipit eos rerum, id, temporibus nisi, ex libero minus itaque consequuntur ad rem totam harum explicabo perferendis minima laborum. Sint. </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi hic, aliquam ullam assumenda incidunt totam eius, molestias, temporibus porro laudantium asperiores? Accusamus adipisci quam esse iusto voluptatibus non natus ducimus suscipit eos rerum, id, temporibus nisi, ex libero minus itaque consequuntur ad rem totam harum explicabo perferendis minima laborum. Sint. </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi hic, aliquam ullam assumenda incidunt totam eius, molestias, temporibus porro laudantium asperiores? Accusamus adipisci quam esse iusto voluptatibus non natus ducimus suscipit eos rerum, id, temporibus nisi, ex libero minus itaque consequuntur ad rem totam harum explicabo perferendis minima laborum. Sint. </p>
    </div>
    <%- include('./partials/footer.ejs') %>

    
</body>
</html>